$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-width: 1020px;

$text-primary: #1d1a0c;
$text-secondary: #eee;
$text-placeholder: #666;

$fail: #c94515;
$success: #158463;

$bg-primary: #000;
$bg-secondary: #000;
$bg-transparent: #000000aa; //to grey out the page around a modal

$accent-primary: #000;
$accent-secondary: #000;
$alt: #000;
