$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-width: 1100px;

$text-primary: #374b67;
$text-secondary: #eee5dd;
$text-placeholder: #eee5dd;

$fail: #c94515;
$success: #158463;

$bg-primary: #eee5dd;
$bg-secondary: #e2d8ce;
$bg-transparent: #00000066;

$accent-primary: #5c8ea1;
$accent-secondary: #a4c3a4;
$alt: #f2b9ab;
