@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.parq {
  @include container;
  @include flex;
  background-color: $bg-transparent;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;

  &__container {
    @include container;
    background-color: $bg-primary;
    max-height: calc(100vh - 4rem);
    border-radius: 1rem;

    @include tablet-and-desktop {
      width: 60%;
    }
  }

  &__content {
    max-height: calc(100vh - 8rem);
    overflow-y: scroll;
    padding-right: 1rem;
    @include flex(column, start, start);
    gap: 1rem;
  }

  &__title {
    text-align: center;
  }

  &__subtitle {
    margin-top: 1rem;
  }
}
