@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@use "./styles/resets" as *;

#root {
  @include flex(column, normal, normal);
  background-color: $bg-primary;
  min-height: 100vh;
  color: $text-primary;
}

.required {
  color: $fail;
}

.link {
  color: $accent-primary;
}
